@import "tailwindcss";

/* html, body {
  overflow-x: hidden;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none; 
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #b59ed5;
  border-radius: 10px;
} */

